* {
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
}

.navbar {
    background: #0d6efd !important;
    color: #f1f1f1 !important;
}

.nav-link {
    color: #f1f1f1 !important;
}

.navbar-brand {
    color: #f1f1f1 !important;
    font-weight: 600;
    margin-right: 50px !important;
}

.section-main {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3) url("./imgs/scizor_wallpaper_by_yorikitsune_d39sh0a.jpg");
    background-blend-mode: darken;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.section-main h1 {
    font-size: 4rem;
    padding: 20px;
    color: white;
}

.col-sm-3 {
    width: 65% !important;
}

.form-control {
    width: 100% !important;
}

.footer {
    background: #303443ff;
    width: 100%;
    height: 20em;
}