.home-section {
    background: rgba(0, 0, 0, 0.4) url(/src/Assets/Backgrounds/home-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    width: 100%;
    height: calc(100vh - 57px);
    margin-top: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_content_1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content-2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/src/Assets/Backgrounds/about.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* .home-content-2 img {
    width: 70%;
    height: auto;
} */

.home-text h1 {
    color: white;
}

.home-text p {
    font-size: 2rem;
    color: white;
    font-weight: 600;
}

.colored-text {
    color: rgb(201, 143, 255);
}